*{
    margin: 0;
    padding: 0;
}
body>.header-cv {
    width: 100%;
    background-color: rgb(36, 18, 53);
}

.header-cv>.container-navbar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.navbar {
    width: 50%;
    margin: 1rem;
}

.navbar {

    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.navbar>li {
    list-style: none;

}

.navbar>li>a {

    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem;
   color: aliceblue;
   
    font-size: 20px;
}
.navbar-icon{
    display: none;
    justify-content: flex-end;
    font-size: 24px;
    cursor: pointer;
}
.features{
    color: #ffffff;
    opacity: 0.5;
}
.navbar>li>a:hover {
    background-color: #2c5364;
}
.Download{
    padding: 5px 5px 5px ;
    background-color:rgb((36, 18, 53), blue);
    border-radius: 10%;
    color: aliceblue;
       
}
.logo {
    color: azure;
    font-family: cursive;
    margin-left: 50px;
    font-size: 40px;
}
.navbar-icon{
    color: #ffffff;
}
.container {
    width: 100%;
    height:auto;
    flex-wrap: wrap;
}
.product{
    display: flex;
}
.left-box {
   height: 36rem;
   flex: 1;
   background-color: rgb(36, 18, 53);
   text-align: center;
    
}

.right-box {
    height: 24rem;
    flex: 1;
    position: relative;
}
.left-box h1{
    font-size: 40px;
   margin-top: 10rem;
   margin-right: 11rem; 
}
.left-box h1{
    color: #ffffff;
}
.left-box h2{
    text-align: center;
    margin-right: 15rem;
    font-size: 40px;
    margin-bottom: 10px;
    color: aliceblue;
}
.left-box p{
    font-size: 17px;
    margin-bottom: 10px;
    color: aliceblue;
    text-align: center;
}
.buttons {
    width: 11.5rem;
    padding: 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border: 1px solid white;
    margin-left: 11rem;  
    border-radius: 5%;
}
.buttons-cv{
    background-color: transparent;
    color: white;
    padding: 5px;
}
.btn{
    color: red;
}
.buttons button{
   border: 1px solid white;
   
}

.background-image {
    height: 36rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./imagen/hojasFondo.jpg');
    background-size: cover;
}

.foreground-image {
    
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    background-image: url('./imagen/phone.png');
    background-size: cover;
}
.services{
    width: 100%;
    
}
.services h2{
    margin: 40px;
    font-size: 60px;
    text-align: center;
    color: rgb(248, 71, 100);
}
.div-container{
    height: 22rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.laptop{
    width: 50%;
    display: flex;
    justify-content: flex-end; 
}
.laptop img{
    width: 20rem;
    margin-right: 5rem;  
}
.Alpa{
    width: 50%; 
}
.Alpa .Marketing{
    color: rgb(248, 71, 100);
    opacity: 0.8;
    margin-bottom: 3rem;
    margin-left: 50px;

}
.Alpa p{
    margin-left: 50px;
}
.Alpa h3{
    color: rgb(248, 71, 100);
    margin-bottom: 10px;
        opacity: 0.8;
    margin-left: 50px;
    margin-top: 10px;
}
.Alpa p > i{
    color: rgb(248, 71, 100);
}
.Alpa  span{
    margin-left: 5px;
}
.plans{
    width: 100%;
    background-color: rgb(36, 18, 53);
    
}
.Future-h2{
    padding-top: 30px;
    text-align: center;
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}
.plans p{
    text-align: center;
    color: #ffffff;
}
.pricing{
    display: flex;
   justify-content: center;
   
   flex-wrap: wrap;
    
}
.lite{
    width: 300px;
    height: auto;
    margin: 50px 10px;
    background-color: #ffffff;
    text-align: center;
    
   
}
.lite h2{
    color: rgb(248, 71, 100);
}
.standard {
    /* padding: 10px 0; */
    margin-bottom: 19px;
    
}
.standard h2{
    color: rgb(36, 18, 53);
    margin-bottom: 15px;
}
.prince{
    margin: 18px;

}
 .dollar{
    font-size: 30px;
    font-weight: bold;
}
.prince span{
    display: inline-block;
    padding: 0;
    margin: 0;
}
.lite ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

}
.lite ul > li{
    line-height: 20px;
}
.lite ul>li>i {
    color: rgb(248, 71, 100);
}

.lite p {
 color: black;
 margin-bottom: 30px; 

}
.subscribe{
    background-color: rgb(248, 71, 100);
    color: white;
    padding: 7px 7px ;
    border: 1px solid rgb(248, 71, 100);

}
.subscribe-now{
    padding: 7px 7px;
    background-color: rgb(36, 18, 53);
    color: white;
    margin-bottom: 7px;

}
.full{

    color: black;
}
.description p{
    color: black;
}
.footer, .icons{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
       
        
}
.footer > a > i{
    background-color: #2c5364;
 
}
.website, .icons{
    width: 50%;
        margin: 1rem;
}

@media (max-width: 920px) {
    .header-cv{
        flex-direction: column
        

    }
    .navbar {
        display: none;
    }
        .navbar-icon {
            display: block;
           
    }
    .navbar li {
        margin-right: 0;
        
    }
}

@media (max-width: 420px) {

    .navbar {
        display: flex;
        
    }
    .navbar-icon {
        display: none;
    }
    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .foreground-image{     
    }
}
